#home {
    padding-top: 100px;
}

#helpContent {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#slide-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 50px;
}
.slide {
    padding: 20px;
    width: 100%;
    height: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.slide.first {
    margin-left: calc(50% - 30vh);
}
.slide.last {
    margin-right: calc(50% - 30vh);
}
.explanation {
    height: 100px;
    width: 60vh;
}
.slide img {
    width: 60vh;
    border-radius: 10px;
}