#pairs {
    padding-top: 100px;
}
#pairs h2 {
    text-align: center;
    padding: 30px;
    text-shadow: 0 0 30px black;
    user-select: none;
}

#pairs #memberButtons {
    display: flex;
}
#pairs .buttonDiv {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#pairs .buttonMain {
    display: none;
}
#pairs .buttonDiv .material-symbols-outlined {
    color: #030303;
}

#pairs .buttonDiv .material-symbols-outlined:hover {
    color: #007aff;
}

#pairs .spinButton {
    display: flex;
    justify-content: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
#pairs #rounds {
    width: 70px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    pointer-events: none;
}
#pairs #rounds::-webkit-inner-spin-button,
#rounds::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#pairs .spinnerDown, .spinnerUp {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    background-color: #B4B4B4;
    border-radius: 50%;
    cursor: pointer;
    line-height: 35px;
}
#pairs .spinnerDown:hover, .spinnerUp:hover {
    background-color: #007aff;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);
}
#pairs .spinnerDown:active, .spinnerUp:active {
    background: radial-gradient(#F0F0F0, lightgray);
    transform: scale(1.1);
}

#pairs .disabled {
    opacity: 0.3;
    cursor: inherit;
}

#pairs #pairsTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#pairs #pairsTable * {
    text-align: left;
    border: solid 1px;
    width: 8%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
}

#pairs #membersBox {
    height: 300px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    overflow: scroll;
}
#pairs #membersBox::-webkit-scrollbar {
    display:none;
}
#pairs .member {
    width: 200px;
    padding: 0 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#pairs .memberBox {
    margin: 0;
    width: 0;
    opacity: 0;
}
#pairs .member:hover{
    background: rgba(0,0,0,.05) !important;
}
#pairs .member:hover > .dummyInput {
    transform: scale(1.1);
}
#pairs .memberBox:checked + .dummyInput {
    background: rgba(3, 3, 3, 1);
    box-shadow: 1px 1px 5px;
}
#pairs .memberBox:checked + .dummyInput::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-5px, 4px) rotateZ(-135deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
}
#pairs .memberBox:checked + .dummyInput::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 4px;
    border-radius: 2px;
    transform: translate(-5px, 4px) rotateZ(-45deg);
    transform-origin: 2px 2px;
    background: #FFFFFF;
}
#pairs .dummyInput {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, .15);
    border-radius: 50%;
    transition: all .15s linear;
}
#pairs .memberLabel {
    margin-left: 8px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.glowingBtn {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: block;
    width: 150px;
    height: 40px;
    padding: 2px;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    overflow-wrap: anywhere;
    background-color: #333333;
    border-radius: 22px; /* (buttonの高さ / 2) の値 + padding */
    box-shadow: 3px 3px 30px black;
}
.glowingBtn-background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), #222, #a0a0a0, #222, #a0a0a0, #222);
    border-radius: 22px; /* (buttonの高さ / 2) の値 */
    opacity: 0;
    animation: gradient-spin 3s linear 0s infinite;
}

@keyframes gradient-spin {
    0% {
      --angle: 0deg;
    }
  
    100% {
      --angle: 360deg;
    }
}
  
.glowingBtn-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 38px;
    top: 1px;
    left: 1px;
    background-color: #202020;
    border-radius: 20px; /* (buttonの高さ / 2) の値 */
}
  
@media (any-hover: hover) {
    .glowingBtn .glowingBtn-background {
        transition: opacity 0.3s;
    }
  
    .glowingBtn:hover .glowingBtn-background {
        opacity: 1;
    }
}