body {
    color: rgb(3,3,3);
    font-family: "Meiryo", "メイリオ", sans-serif;
}
.displayBox {
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,.3);
    padding: 10px;
    align-items: center;
}

h2 {
    text-align: center;
    padding: 30px;
    text-shadow: 0 0 30px black;
    user-select: none;
}